{% extends "base.html" %}

{% block title %}Zresetuj swoje hasło{% endblock %}

{% block content %}
    <h1>Resetowanie hasła</h1>
    <p>Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta w Inquizitor.</p>
    <p>Aby ustawić nowe hasło, kliknij w poniższy przycisk:</p>
    
    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 24px auto;">
        <tr>
            <td align="center" class="button-td">
                <a href="{{ reset_url }}" class="button-a">Zmień hasło</a>
            </td>
        </tr>
    </table>
    
    <p style="margin-top: 32px; font-size: 14px; color: #717171;">
        Link wygaśnie za {{ expires_minutes }} minut. Jeśli przycisk nie działa, skopiuj i wklej poniższy adres do przeglądarki:
        <br>
        <a href="{{ reset_url }}">{{ reset_url }}</a>
    </p>
    
    <div class="divider"></div>
    
    <p style="font-size: 14px; color: #717171;">
        Jeśli to nie Ty prosiłeś o resetowanie hasła, zignoruj tę wiadomość. Twoje hasło pozostanie niezmienione.
    </p>
{% endblock %}
